
@{
    ViewBag.Title = "Subjects";
}

<h2>Subjects</h2>

<table id="subjects">
    <tr>
        <th>Code</th>
        <th>Name</th>
        <th>ClassNo</th>
        <th>TeacherFirstName</th>
        <th>TeacherLastName</th>        
    </tr>
</table>

